h1 {
    font-size: 2rem;
    font-weight: bold;
}

.productBottom-left {
    flex: 2;
    padding-right: 1.5rem;
}
p {
    word-spacing: 0.2rem;
    line-height: 1.2rem;
}

section {
    padding-top: 2rem;
}

h5 {
    padding-bottom: 1.5rem;
}

.productInfo-list{
    list-style: inside;
}

.productInfo-list li {
    padding-bottom: 0.6rem;
    color: #777;
}

.productInfo-list li:last-child {
    padding-bottom: 0rem;
}
