.productBottom-right {
    flex: 1;
    padding-left: 1.5rem;
    border-left: 1px solid #ddd;
}

.productOption-top h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

.review-star {
    display: flex;
}

.review-count {
    padding-top: 0.1rem;
    padding-left: 0.5rem;
    color: #584feb;
}
.productOption-top {
    padding-bottom: 2rem;
}

.size-box {
    padding: 1.5rem 0;
}

.label-size {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.85rem;
}

.size-check-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.size {
    height: 5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
}
.size:hover {
    background-color: #fafafa;
}

.label-color {
    display: inline-block;
    padding-bottom: 0.85rem;
}
.label-size-color {
    color: #584feb;
}

.color-picker {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.85rem;
    cursor: pointer;
}

.color-white {
    border: 1px solid #555;
    background-color: white;
}
.color-gray {
    background-color: gray;
}
.color-black {
    background-color: black;
}
.submit-btn {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #584feb;
    border: none;
    border-radius: 0.5rem;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
